<!DOCTYPE html>
<html>
<head><title>Profile</title></head>
<body>
  <a href="/" class="btn btn-outline-secondary">Back to Home</a>
  <h1>Your Profile</h1>
  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>
  <a href="/logout">Logout</a>

</body>
</html>
